body {
    color: rgb(37, 36, 36);
    background: #ffffff;
    font-family: sans-serif;
}

.body__wrapper {
    position: relative;
    max-width: 1280px;
    margin: 2% auto;
    padding: 0 2%;
    min-height: 100vh;
    overflow: hidden;
}

header {
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .footer__links {
    font-size: 14px;
    color: rgb(157, 155, 155);
    text-align: center;
}

footer .footer__links:hover {
    color: #555;
    transition: 0.5s;
}

.footer__links img {
    width: 40px;
    height: auto;
}

.footer__links img:hover {
    width: 45px;
    height: auto;
    transition: 0.5s;
}