@use '../../../styles.scss';

.container-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.cards-wrapper {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.card-new {
  width: 250px;
}

.btn {
  background: white;

  &:first-child:hover {
    background-color: styles.$secondary-color-light;
  }
}

.example-box {
  position: relative;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  background: transparent;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
