<div class="container container-main">
  <p class="fs-2">{{ boardName }}</p>
  <div
    cdkDropList
    cdkDropListOrientation="horizontal"
    class=" cards-wrapper cdk-drop-list example-box card-group h-100"
    (cdkDropListDropped)="drop($event)" >
      <app-column
      cdkDrag
      style="margin-bottom: 20px; margin-right: 20px; width: 250px;"
            *ngFor="let column of columns"
            [title]="column.title"
            [order]="column.order"
            [id]="column.id"
            [tasks]="column.tasks"
            [tasksIds]="column.tasksIds"
      ></app-column>
      <ng-template #content let-modal>
        <div class="modal-header" [formGroup]="newColumnForm">
          <h4 class="modal-title" id="modal-basic-title">Create new column</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3" [formGroup]="newColumnForm">
              <label for="title">Title</label>
              <input type="text" id="title" class="form-control" (input)="inputTitle($event)" formControlName="title" [formControl]="controlTitle">
              <p class="fs-6 fw-light" *ngIf="controlTitle?.errors?.['required']">*required field</p>
              <p class="fs-6 fw-light" *ngIf="controlTitle?.errors?.['minlength']">*should be longer than 1</p>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="newColumnForm.invalid" class="btn btn-outline-dark" (click)="modal.close('Save click'); submitNewColumn()" >Create</button>
        </div>
      </ng-template>
      <div class="card-new border-success mb-3" style="width: 250px; margin-right: 20px; height: 50px;" >
        <button class="btn btn-lg border-success" style="width: 250px;"  (click)="open(content)">Create new column</button>
      </div>
  </div>
</div>
