.container-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cards-wrapper {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-new {
  width: 250px;
}

.btn {
  &:hover {
    background-color: green;
    color: white;
    transition: 1s;
    cursor: pointer;
  }
}

