:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active {
  background-color: green;
  color: white;
}
