/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
// Functions first
@import "../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

@font-face {
  font-family: 'Krylon';
  src: url('./assets/fonts/Krylon-Regular.otf') format('otf');
  src: url('./assets/fonts/Krylon-Regular.woff') format('woff');
  src: url('./assets/fonts/Krylon-Regular.woff2') format('woff2');
}

$font-inter: 'Inter', sans-serif;
$font-cinzel: 'Cinzel Decorative', serif;
$font-krylon: 'Krylon', serif;

$primary-color-dark: #2b6377;
$primary-color-light: #ccdfe3;
$secondary-color-dark: #94ccdf;
$secondary-color-light: #faf6f1;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100%;
  background-color: $primary-color-dark;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 ;
}
