@use '../../styles.scss';


.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 20px;
  height: 100%;
}

.main {
  &__header {
    grid-area: headerBlock;
    font-family: styles.$font-cinzel;
    font-weight: 700;
    font-size: 40px;
    color: styles.$primary-color-dark;
  }

  &__blue {
    grid-area: blueBlock;
    background-color: styles.$secondary-color-dark;

    &-planner {
      img {
        z-index: 5;
        width: 100%;
        margin-left: -50%;
      }
    }
  }

  &__beige {
    grid-area: beigeBlock;
    background-color: styles.$secondary-color-light;
    display: flex;
    flex-direction: row;

    button {
      z-index: 3;
      position: relative;
      border: none;
      border-radius: 50%;
      width: 130px;
      height: 130px;
      background-color: styles.$primary-color-dark;
      margin-top: -50%;
      margin-left: -50%;
      font-family: styles.$font-cinzel;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 124%;
      color: styles.$secondary-color-light;

      &::before {
        content: '';
          border-radius: 50%;
          width: 120px;
          height: 120px;
          border: 6px solid styles.$primary-color-dark;
          box-shadow: 0 0 60px styles.$primary-color-dark;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: all .3s ease-in-out 0s;
        }

        &:hover,
        &:focus {
          color: styles.$secondary-color-light;
        }

        &:hover::before,
        &:focus::before {
          opacity: 1;
        }

        &::after {
          content: '';
          z-index: 1;
          width: 30px;
          height: 30px;
          border-radius: 100%;
          border: 6px solid styles.$primary-color-dark;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          animation: ring 1.5s infinite;
        }

        &:hover::after,
        &:focus::after {
          animation: none;
          display: none;
        }

        @keyframes ring {
          0% {
            width: 30px;
            height: 30px;
            opacity: 1;
          }
          100% {
            width: 170px;
            height: 170px;
            opacity: 0;
          }
        }
    }

    &-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: -10%;
      margin-left: 5%;

      p {
        font-family: styles.$font-cinzel;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 170%;
        margin-right: 7%;
        margin-bottom: 0px;
        margin-left: -15%;
      }
    }

    &-pink-ball {
      background: #FFDDE5;
    }

    &-green-ball {
      background: radial-gradient(50% 50% at 50% 50%, #86BDD0 0%, rgba(203, 222, 227, 0.67) 100%);
      border: 0.1px solid #B9DFEC;
    }

    &-violet-ball {
      background: #EAD8FC;
    }

    &-pink-ball,
    &-green-ball,
    &-violet-ball {
      display: flex;
      align-items: center;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      border-radius: 50%;
      font-family: styles.$font-cinzel;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-transform: capitalize;
      width: 110px;
      height: 110px;
      margin-left: -5%;
      margin-top: 3%;
      margin-bottom: 3%;
    }

    &-arrow {
      width: 50px;
      margin-left: 25%;

      &:hover {
        scale: 1.2;
        transition: 0.5s;
      }
    }
  }

  &__additional-text {
    grid-area: addTextBlock;
    font-size: 15px;
    line-height: 150%;
    text-transform: capitalize;
    width: 80%;
  }

  &__about {
    grid-area: about;
    font-size: 12px;
    line-height: 150%;
    width: 80%;
  }

  &__eye {
    z-index: 2;
    grid-area: eyeBlock;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: -10%;

    img {
      height: 100%;
    }
  }
}

.container {
  grid-template-areas:
    'headerBlock headerBlock . blueBlock'
    'addTextBlock addTextBlock . blueBlock'
    'about eyeBlock . blueBlock'
    'about eyeBlock beigeBlock beigeBlock';
}

@media (max-width: 1000px) {

  .main {
    &__header {
      font-size: 35px;
    }
    &__additional-text {
      font-size: 12px;
    }
  }
}


@media (max-width: 730px) {

  .main {
    &__header {
      font-size: 30px;
    }
    &__additional-text {
      font-size: 10px;
    }
  }



}

@media (max-width: 500px) {

  .main {
    &__header {
      font-size: 20px;
    }
  }

}
