<div class="card-group  card border-light mb-3" style=" width: 250px; display: flex; flex-direction: column; cursor: default;">
    <div class="cdk-drag example-box ng-star-inserted card-body">
      <div class="card-header">
        <h2 >{{ title }}</h2>
        <ng-template #content2 let-modal>
          <div class="modal-header" [formGroup]="newColumnTitleForm">
            <h4 class="modal-title" id="modal-basic-title">Change column title</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3" [formGroup]="newColumnTitleForm">
                <label for="title">Title</label>
                <input type="text" id="title" class="form-control" (input)="inputColumnTitle($event)" formControlName="columnTitle" [formControl]="controlColumnTitle">
                <p class="fs-6 fw-light" *ngIf="controlColumnTitle?.errors?.['required']">*required field</p>
                <p class="fs-6 fw-light" *ngIf="controlColumnTitle?.errors?.['minlength']">*should be longer than 1</p>
                <p class="fs-6 fw-light" *ngIf="controlColumnTitle?.errors?.['maxlength']">*should be no more than 20</p>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" [disabled]="newColumnTitleForm.invalid" class="btn btn-outline-dark" (click)="modal.close('Save click'); submitColumnTitle(id, order, title)" >Submit</button>
          </div>
        </ng-template>
        <button (click)="open(content2, title)" style="border: none; background-color: transparent">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="25" height="25"
            viewBox="0 0 32 32"
            style=" fill:#000000;">
            <path d="M 23.90625 3.96875 C 22.859375 3.96875 21.8125 4.375 21 5.1875 L 5.1875 21 L 5.125 21.3125 L 4.03125 26.8125 L 3.71875 28.28125 L 5.1875 27.96875 L 10.6875 26.875 L 11 26.8125 L 26.8125 11 C 28.4375 9.375 28.4375 6.8125 26.8125 5.1875 C 26 4.375 24.953125 3.96875 23.90625 3.96875 Z M 23.90625 5.875 C 24.410156 5.875 24.917969 6.105469 25.40625 6.59375 C 26.378906 7.566406 26.378906 8.621094 25.40625 9.59375 L 24.6875 10.28125 L 21.71875 7.3125 L 22.40625 6.59375 C 22.894531 6.105469 23.402344 5.875 23.90625 5.875 Z M 20.3125 8.71875 L 23.28125 11.6875 L 11.1875 23.78125 C 10.53125 22.5 9.5 21.46875 8.21875 20.8125 Z M 6.9375 22.4375 C 8.136719 22.921875 9.078125 23.863281 9.5625 25.0625 L 6.28125 25.71875 Z"
            ></path>
          </svg>
        </button>
      </div>
      <div class="example-box" >
        <div
          cdkDropList
          #{{id}}="cdkDropList"
          [id]=id
          [cdkDropListData]="tasks"
          [cdkDropListConnectedTo]="idsForDragAndDrop | filterIdsList: id"
          class=" cards-wrapper cdk-drop-list example-list card-group h-100"
          (cdkDropListDropped)="drop($event)">
          <app-tasks
            cdkDrag
            style="margin-bottom: 20px; margin-right: 20px; width: 100%;"
            *ngFor="let task of tasks"
            [taskId] = "task.id"
            [title] = "task.title"
            [done] = "task.done"
            [order] = "task.order"
            [description] = "task.description"
            [userId] = "task.userId"
            [boardId] = "task.boardId"
            [columnId] = "task.columnId"
            [filename] = "task.filename"
            [fileSize] = "task.fileSize"
          ></app-tasks>
        </div>
      </div>
      <ng-template #content1 let-modal>
        <div class="modal-header" [formGroup]="newTaskForm">
          <h4 class="modal-title" id="modal-basic-title">Create new task</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3" [formGroup]="newTaskForm">
              <label for="title">Title</label>
              <input type="text" id="title" class="form-control" (input)="inputTitle($event)" formControlName="taskTitle" [formControl]="controlTitle">
              <p class="fs-6 fw-light" *ngIf="controlTitle?.errors?.['required']">*required field</p>
              <p class="fs-6 fw-light" *ngIf="controlTitle?.errors?.['minlength']">*should be longer than 1</p>
              <p class="fs-6 fw-light" *ngIf="controlTitle?.errors?.['maxlength']">*should be no more than 20</p>
            </div>
            <div class="mb-3" [formGroup]="newTaskForm">
              <label for="description">Description</label>
              <input type="text" id="description" class="form-control" (input)="inputDescription($event)" formControlName="taskDescription" [formControl]="controlDescription">
              <p class="fs-6 fw-light" *ngIf="controlDescription?.errors?.['required']">*required field</p>
              <p class="fs-6 fw-light" *ngIf="controlDescription?.errors?.['minlength']">*should be longer than 1</p>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" [disabled]="newTaskForm.invalid" class="btn btn-outline-dark" (click)="modal.close('Save click'); submitNewTask(id)" >Create</button>
        </div>
      </ng-template>
      <button class="btn btn-lg border-light" style="width: 220px;"  (click)="open(content1)">Create new task</button>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete column?</h4>
        <a routerLink="/board/{{ title }}">
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </a>
      </div>
      <div class="modal-footer">
        <a routerLink="/board/{{ boardTitle }}">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); deleteColumn(id)" >Delete</button>
        </a>
      </div>
    </ng-template>
    <div class="card-footer">
      <button (click)="open(content)" style="border: none; background-color: transparent">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
        </svg>
      </button>
    </div>
</div>
