<div class="card-group  card border-success mb-3" style=" width: 250px; display: flex; flex-direction: column;">
    <div class="cdk-drag example-box ng-star-inserted card-body">
      <h2 class="card-header">{{ title }}</h2>
      <div class="example-box" >
        <div cdkDropList class=" cards-wrapper cdk-drop-list example-list card-group h-100" (cdkDropListDropped)="drop($event)" >
          <app-tasks
          cdkDrag
          style="margin-bottom: 20px; margin-right: 20px; width: 250px;"
          *ngFor="let task of tasks"
          [taskId] = "task.id"
          [title] = "task.title"
          [done] = "task.done"
          [order] = "task.order"
          [description] = "task.description"
          [userId] = "task.userId"
          [boardId] = "task.boardId"
          [columnId] = "task.boardId"
          [filename] = "task.filename"
          [fileSize] = "task.fileSize"
          ></app-tasks>
        </div>
      </div>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete column?</h4>
        <a routerLink="/board/{{ title }}">
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </a>
      </div>
      <div class="modal-footer">
        <a routerLink="/board/{{ boardTitle }}">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); deleteColumn(id)" >Delete</button>
        </a>
      </div>
    </ng-template>
    <div class="card-footer">
      <button (click)="open(content)" style="border: none; background-color: transparent">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
        </svg>
      </button>
    </div>
</div>
