@import url(./assets/styles/palette.css);
@import url(./assets/styles/fonts.css);
@import url(./assets/styles/general.css);
@import url(./assets/styles/pattern.css);
@import url(./assets/styles/all-categories.css);
@import url(../node_modules/normalize.css/normalize.css);