.container-main {
  display: flex;
  flex-direction: column;
}

.cards-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  &:hover {
    background-color: green;
    color: white;
    transition: 1s;
    cursor: pointer;
  }
}
