<div class="container container-main">
  <p class="fs-2">Your boards</p>
  <div class="cards-wrapper">
    <app-card
      style="margin-bottom: 20px;"
      *ngFor="let card of cards"
      [title]="card.title"
      [description]="card.description"
      [id]="card.id">
    </app-card>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create new board</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" (input)="inputTitle($event)">
          </div>
          <div class="mb-3">
            <label for="description">Description</label>
            <input type="text" id="description" class="form-control" (input)="inputDescription($event)">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click'); submitNewBoard()" >Create</button>
      </div>
    </ng-template>
      <div class="card border-success mb-3" style="width: 250px; margin-right: 20px; height: 50px;" >
        <button class="btn btn-lg " (click)="open(content)">Create new board</button>
      </div>
  </div>
</div>
