.category {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category__h1 {
  font-family: 'Montserrat';
  font-size: 4rem;
  color: var(--green-color);
}

.category__wrapper {
  display: grid;
  grid-template-columns: 4;
  grid-template-columns: 2;
  padding: 2%;
}