.card-train__wrapper {
  width: 100%;

}
.card-train__wrapper-container {
  position: relative;
  perspective: 1000px;
  width: 100%;
}
.card-train__front-back {
  position: relative;
  display: grid;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width: 100%;
  height: 20em;
}

.card-train__item, 
.card-train__item-back,
.card-train__item-back-hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
	left: 0;
  backface-visibility: hidden;
}

.card-train__item {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-train__item-back, .card-train__item-back-hidden {
  transform: rotateY(180deg);
}

.card-train__item-back-translate, .card-train__item-back-hidden {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat';
  color: var(--dark-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.card-train__item-rotate {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 10%;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card-train__item-rotate:hover {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.card-play__panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.card-play__begin,
.card-play__stars {
  width: 50%;
  height: 50%;
}

.card-play__begin-button {
  width: 100%;
  height: 100%;
  border: 0px solid var(--green-color);
  border-radius: 34px;
  font-family: 'Montserrat';
  color: var(--dark-color);
  background-color: var( --orange-color);
  color: var(--white-color);
}

.card-play__begin-button:hover {
  background-color: var(--green-color);
  cursor: pointer;
  transition: 0.5s;
}

.card-play__stars {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-play__stars-star {
width: 50%;
height: 50%;
}