@media (max-width: 768px) {

  .page__wrapper {
    margin: 5% auto;
    padding: 0 5%;
  }

  .category__wrapper,
  .card-train__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (max-width: 450px) {

  .page__wrapper {
    margin: 10% auto;
    padding: 0 10%;
  }

  .category__wrapper,
  .card-train__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

}